.grid {
  background-image: url("../../../assets/logo.png") !important;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  animation: zoomIn 2s ease-in-out;
}

@media screen and (min-width: 800px) {
  .grid {
    background-position: top;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

