<!-- Cadastro de categorias -->
<p-card header="Adicionar categoria" styleClass="m-2 text-indigo-800">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12">
      <label for="categoria">Nome</label>
      <input
        pInputText
        id="categoria"
        aria-describedby="nome-categoria"
        [(ngModel)]="novaCategoria.name"
        class="p-inputtext p-component"
      />
    </div>
    <div class="p-field p-col-12">
      <label for="descricao">Descrição</label>
      <textarea
        id="descricao"
        rows="5"
        cols="30"
        pInputTextarea
        [(ngModel)]="novaCategoria.description"
        class="p-inputtextarea p-component"
      ></textarea>
    </div>
    <div class="p-field p-col-12">
      <p-button label="Confirmar" (click)="addCategoria()"></p-button>
    </div>
  </div>
</p-card>

<!-- Listagem de categorias -->
<p-card header="Listagem de categorias" styleClass="m-2 text-indigo-800">
  <p-table
    [value]="categorias"
    [paginator]="true"
    [rows]="1"
    [tableStyle]="{ 'min-width': '15rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Categoria</th>
        <th>Descrição</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-c>
      <tr>
        <td>{{ c.name }}</td>
        <td>{{ c.description }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
