<form (ngSubmit)="addProduto()">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="produtoSelecionado.title" name="title" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="produtoSelecionado.description" name="description" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="produtoSelecionado.category" name="category" required>
      <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
        {{ categoria.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Brand</mat-label>
    <mat-select [(ngModel)]="produtoSelecionado.brand" name="brand" required>
      <mat-option *ngFor="let marca of marcas" [value]="marca.id">
        {{ marca.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Serie Number</mat-label>
    <input matInput [(ngModel)]="produtoSelecionado.serie_number" name="serie_number" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cost Price</mat-label>
    <input matInput [(ngModel)]="produtoSelecionado.cost_price" name="cost_price" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Selling Price</mat-label>
    <input matInput [(ngModel)]="produtoSelecionado.selling_price" name="selling_price" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Quantity</mat-label>
    <input matInput [(ngModel)]="produtoSelecionado.quantity" name="quantity" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Adicionar Produto</button>
</form>

<div>
  <ul>
    <li *ngFor="let p of produtos">
      {{ p.title }} - {{ p.description }}
    </li>
  </ul>
</div>
