<!-- Cadastro de entradas -->
<p-card header="Adicionar entrada de produto" styleClass="m-2 text-indigo-800">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12">
      <label for="entrada">Quantidade</label>
      <p-inputNumber
        id="entrada"
        aria-describedby="quantidade"
        [(ngModel)]="novaEntrada.quantity"
        class="p-inputnumber p-component"
        [min]="1"
        required
      />
    </div>
    <div class="p-field p-col-12">
      <label for="descricao">Descrição</label>
      <textarea
        id="descricao"
        rows="5"
        cols="30"
        pInputTextarea
        [(ngModel)]="novaEntrada.description"
        class="p-inputtextarea p-component"
        required
      ></textarea>
    </div>
    <div class="p-field p-col-12">
      <mat-form-field appearance="fill">
        <mat-label>Fornecedor</mat-label>
        <mat-select [(ngModel)]="novaEntrada.supplier" name="supplier" required>
          <mat-option *ngFor="let fornecedor of fornecedores" [value]="fornecedor.id">
            {{ fornecedor.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!novaEntrada.supplier">Este campo é obrigatório.</mat-error>
      </mat-form-field>
    </div>
    <div class="p-field p-col-12">
      <mat-form-field appearance="fill">
        <mat-label>Produto</mat-label>
        <mat-select [(ngModel)]="novaEntrada.product" name="product" required>
          <mat-option *ngFor="let produto of produtos" [value]="produto.id">
            {{ produto.title }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!novaEntrada.product">Este campo é obrigatório.</mat-error>
      </mat-form-field>
    </div>
    <div class="p-field p-col-12">
      <p-button
        label="Confirmar"
        (click)="addEntrada()"
        styleClass="p-button-sm"
      ></p-button>
    </div>
  </div>
</p-card>

<!-- Listagem -->
<p-card header="Listagem de entradas de produtos" styleClass="m-2 text-indigo-800">
  <p-table
    [value]="entradas"
    [paginator]="true"
    [rows]="1"
    [tableStyle]="{ 'min-width': '5rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width:25%">Quantidade</th>
        <th style="width:25%">Descrição</th>
        <th style="width:25%">Fornecedor</th>
        <th style="width:25%">Produto</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      @for (entrada of entradas; track entrada){
        <tr>
          <td>{{ entrada.quantity }}</td>
          <td>{{ entrada.description }}</td>
          <td>{{ entrada.supplier_name }}</td>
          <td>{{ entrada.product_title }}</td>
        </tr>
      }

    </ng-template>
  </p-table>
</p-card>
