<!--Cadastro de entradas-->

<p-card header="Adicionar entrada de produto" styleClass="m-2 text-indigo-800">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12">
      <label for="entrada">Quantidade</label>
      <input
        pInputText
        id="entrada"
        aria-describedby="nome-entrada"
        [(ngModel)]="novaEntrada.quantity"
        class="p-inputnumber p-component"
      />
    </div>
    <div class="p-field p-col-12">
      <label for="descricao">Descrição</label>
      <textarea
        id="descricao"
        rows="5"
        cols="30"
        pInputTextarea
        [(ngModel)]="novaEntrada.description"
        class="p-inputtextarea p-component"
      ></textarea>
    </div>
    <div class="p-field p-col-12">
      <p-button
        label="Confirmar"
        (click)="addEntrada()"
        styleClass="p-button-sm"
      ></p-button>
    </div>
  </div>
</p-card>

<!--Listagem-->

<p-card header="Listagem de marcas" styleClass="m-2 text-indigo-800">
  <p-table
    [value]="entradas"
    [paginator]="true"
    [rows]="1"
    [tableStyle]="{ 'min-width': '5rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width:5%">Marca</th>
        <th style="width:5%">Descrição</th>
        <th style="width:5%">Fornecedor</th>
        <th style="width:5%">Produto</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      @for (entrada of entradas; track entrada){
        <tr>
          <td>{{ entrada.quantity }}</td>
          <td>{{ entrada.description }}</td>
          <td>{{ entrada.supplier }}</td>
          <td>{{ entrada.product }}</td>
        </tr>
      }
    </ng-template>
  </p-table>
</p-card>

